 ../../.accessibility.properties
        ../../.anaconda/
        ../../.bash_history
        ../../.cache/
        ../../.conda/
        ../../.condarc
        ../../.config/
        ../../.continuum/
        ../../.gitconfig
        ../../.ipynb_checkpoints/
        ../../.ipython/
        ../../.jupyter/
        ../../.lesshst
        ../../.matplotlib/
        ../../.node_repl_history
        ../../.openjfx/
        ../../.redhat/
        ../../.spyder-py3/
        ../../.vscode/
        ../../AppData/
        ../../Contacts/
        ../
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
        ../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../PycharmProjects/
        ../../README.txt
        ../../Sanjay.sql
        ../../Saved Games/
        ../../Searches/
        ../../Untitled.ipynb
        ../../Untitled1.ipynb
        ../../Untitled2.ipynb
        ../../Untitled3.ipynb
        ../../Untitled4.ipynb
        ../../Untitled5.ipynb
        ../../Untitled6.ipynb
        ../../Untitled7.ipynb
        ../../Untitled8.ipynb
        ../../Untitled9.ipynb
        ../../Videos/
        ../../anaconda3/
        ../../git_demo/
        ../../logs/
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
